<img class="logo" src="/images/logo.png" />
<div class="wraper-kategorija">
    <h1 class="ime-kategorija" id="k"><%= name %></h1>
</div>
<div class="cart-section">
<a href="/cart"><img class="kosarica" src="/images/cart.jpg" alt="košarica"/></a>
<div class="number" id="n0"><p id="n"><%= session.cart.cart_count %></p></div>
<a href="#"><img class="search" src="/images/povecalo.jpg" /></a>
</div>